:root {
    --modal-border-radius: 15px;
    --primary-color: #1da1f2;
    --border-color: #ecedec;
    --white: #ffffff;
    --black: #000000;
    --modal-bg: rgba(0, 0, 0, 0.5);
    --modal-content-bg: #ffffff;
    --modal-padding: 40px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    justify-content: center;
    align-items: center;

}

.modal-content {
    background-color: var(--modal-content-bg);
    margin: auto;
    padding: var(--modal-padding);
    border-radius: var(--modal-border-radius);
    width: 100%;
    max-width: 500px;
    box-shadow: rgb(46 64 88 / 4%) 0px 2px 4px, rgb(46 64 88 / 8%) 0px 6px 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -10;
}

.modal-title {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: Figtree, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 600;
}

.form-layout {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.profile-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fields-section {

    margin-right: 0; 
        width: 100%; 
    
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #151717;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1.5px solid var(--border-color);
    border-radius: 10px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    transition: 0.2s ease-in-out;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: var(--primary-color);
}

.profile-picture {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.profile-image-upload {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image-upload input[type="file"] {
    display: none;
}

.profile-image-upload label {
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    margin-top: 1rem;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.save-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 400px;
    margin: 20px 0;
    display: block;
    align-self: center; /* Center the button */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}

.save-button:hover {
    background-color: #0d8ae5;
}

.radio-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

.radio-group label {
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media (max-width: 600px) {

    .profile-section {
        margin-bottom: 20px; /* Add some space between the profile picture and the form fields */
    }

    .save-button {
        width: 100%; /* Make the save button full width on smaller screens */
    }
}
